# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1.4.2
      with:
        node-version: 12.17.0        
    - run: npm install
    - run: npm install -g azure-functions-core-tools@3
    - run: npm run build:production
    - run: mkdir drop
    - uses: montudor/action-zip@v0.1.0
      with:
        args: zip -qq -r ./drop/woffu-signer-latest.zip ./dist
    - uses: fixpoint/azblob-upload-artifact@v3.3
      with:
        connection-string: ${{ secrets.PrereleaseStorageConnectionString }}
        name: woffu-signer-latest.zip
        path: drop
        container: public-prereleases
        cleanup: yes
